build/
node_modules/
deployments/
tasks/
tasks/*
.secret
.secret-testnet
.env
artifacts
cache
test/SolarDistributorV2.test.js
package-lock.json
yarn.lock
yarn-error.log
core_contracts.json
hardhat.config.js
.idea/
